<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>پنل ادمین</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>
<body>
  <!-- Header -->
  {% include "header.html" %}

  <!-- Admin Content -->
  <div>
    <div class="section admin-wrapper">
      <h2 class="section-title">پنل مدیریت کاربران</h2>
      <p class="section-subtitle">لیست کاربران ثبت شده در سیستم</p>
      <button><a href="{{url_for ('show_message')}}">برای دیدن فرم های ثبت شده کلیک  کنید</a></button>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>ایمیل</th>
              <th>عملیات</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.email }}</td>
              <td>
                <a href="{{ url_for('edit_users', user_id=user.id) }}" class="btn btn-primary">ویرایش</a>
                <a href="{{ url_for('delete_user', user_id=user.id) }}" class="btn btn-primary delete-btn">حذف</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Footer -->
  {% include "footer.html" %}
</body>
</html>
