<!-- Header -->
<header>
    <div class="container">
        <div class="logo">
            <a href="{{url_for('home')}}">
                <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="Libris">
            </a>
        </div>
        <nav class="nav-links">
            <a href="{{ url_for('home') }}">خانه</a>
            <a href="{{ url_for('home') }}#features">امکانات</a>
            <a href="{{ url_for('home') }}#about">درباره ما</a>
            <a href="/contact_us">تماس با ما</a>
            <a href="/faq">سوالات متداول</a>
        </nav>
        <div class="auth-buttons">
            {% if session.email %}
                {% if user and user.admin==True %}
                    {% if request.endpoint=='admin' %}
                        <a href="{{ url_for('profile') }}" class="btn btn-outline">حساب کاربری</a>
                        <a href="{{ url_for('logout') }}" class="btn btn-outline">خروج</a>
                    {% else %}
                        <a href="{{ url_for('admin') }}" class="btn btn-outline">پنل ادمین</a>
                        <a href="{{ url_for('logout') }}" class="btn btn-outline">خروج</a>
                    {% endif %}
                {% else %}
                    {% if request.endpoint=='profile' %}
                        <a href="{{ url_for('dashboard') }}" class="btn btn-outline">داشبورد</a>
                        <a href="{{ url_for('logout') }}" class="btn btn-outline">خروج</a>
                    {% else %}
                        <a href="{{ url_for('profile') }}" class="btn btn-outline">حساب کاربری</a>
                        <a href="{{ url_for('logout') }}" class="btn btn-outline">خروج</a>
                    {% endif %}
                {% endif %}
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-outline">ورود</a>
                <a href="{{ url_for('register') }}" class="btn btn-primary">ثبت‌نام</a>
            {% endif %}
        </div>
    </div>
</header>